esm==3.2.3
func_timeout==4.3.5
networkx==3.3
numpy==2.4.3
pandas==3.0.1
rdkit==2025.3.6
scikit_learn==1.8.0
scipy==1.17.1
subword_nmt==0.3.8
torch==2.8.0+cu129
torch_geometric==2.7.0
tqdm==4.67.1
